#one  {
	font-family: 'Permanent Marker', cursive;
	font-size: 2rem;
}

#two  {
	font-family: 'Cabin', sans-serif;
	font-size: 2rem;
	font-style: italic;
}

#three  {
	font-family: 'Poiret One', cursive;
	font-size: 2rem;
	font-style: italic;
}

#four  {
	font-family: 'Bad Script', cursive;
	font-size: 2rem;
}

#five  {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-style: italic;
}

#six  {
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
	font-style: italic;
}

#seven  {
	font-family: 'Coming Soon', cursive;
	font-size: 2rem;
	font-style: italic;
}

#eight  {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

#nine  {
	font-family: 'Cardo', serif;
	font-size: 2rem;
	font-style: italic;
}

#ten  {
	font-family: 'Arapey', serif;
	font-size: 2rem;
	font-style: italic;
}

#eleven  {
	font-family: 'Oregano', cursive;
	font-size: 2rem;
	
}

#twelve  {
	font-family: 'Kaushan Script', cursive;
	font-size: 2rem;
	
}