#signup {
	float: right;
	width: 37%;
}

p {
	font-size: 1.125rem;
}

.promise {
	font-size: .75em;
	line-height: 1.1em;
}

.email-info h2 {
	text-align: center;
}

#pbtnSubmit {
	text-align: center;
}

#email {
	height: 1rem;
	width: 54.56349%;
}

.align {
	text-align: center;
}

.check-box-info {
	font-size: .75em;
}